.post {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 20px;
  & > h1 {
    font-weight: 100;
  }
  .extra {
    .item {
      color: rgba(0, 0, 0, 0.3);
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
      .date {

      }
    }
  }
}