@charset "UTF-8";
@keyframes slide-out-header-m {
  from {
    margin-top: -40px; }
  to {
    margin-top: 0; } }
@keyframes slide-in-header-m {
  from {
    margin-top: 0;
    visibility: visible; }
  50% {
    visibility: hidden; }
  to {
    margin-top: -40px;
    visibility: hidden; } }
@keyframes slide-out-header {
  from {
    margin-top: -30px; }
  to {
    margin-top: 0; } }
@keyframes slide-in-header {
  from {
    margin-top: 0;
    visibility: visible; }
  50% {
    visibility: visible; }
  to {
    margin-top: -53px;
    visibility: hidden; } }
@keyframes slide-out-sidebar {
  from {
    margin-left: -80%; }
  to {
    margin-top: 0; } }
@keyframes slide-in-sidebar {
  from {
    margin-left: 0;
    visibility: visible; }
  50% {
    visibility: visible; }
  to {
    margin-left: -80%;
    visibility: hidden; } }
.ui.pagination.menu {
  border-radius: 0;
  box-shadow: none; }

h3, h2, p, h1, a {
  font-family: "Helvetica Neue", sans-serif !important; }

a {
  color: #E91E63; }

.slick-next.slick-arrow:before, .slick-prev.slick-arrow:before {
  color: #4b4b4b; }

.slick-prev {
  z-index: 9;
  position: absolute;
  left: 10px; }

.slick-next {
  z-index: 9;
  position: absolute !important;
  right: 10px !important; }

.slick-prev:before {
  font-family: "Ionicons" !important;
  content: "\f3d2" !important;
  position: absolute;
  left: 35px;
  color: white !important;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; }

.slick-next:before {
  font-family: "Ionicons" !important;
  content: "\f3d3" !important;
  position: absolute;
  right: 5px;
  color: white !important;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px; }

figure.highlight {
  position: relative !important;
  margin: 1em 0 !important;
  border-radius: 2px !important;
  line-height: 1.1em !important;
  background-color: #f8f8f8 !important;
  overflow-x: auto !important; }

figure.highlight table, figure.highlight tr, figure.highlight td {
  width: 100% !important;
  border-collapse: collapse !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 0 !important; }

figure.highlight .gutter {
  display: none !important; }

figure.highlight .code pre {
  padding: 1.2em 1.4em !important;
  line-height: 1.5em !important;
  margin: 0 !important; }

figure.highlight.html .code:after, figure.highlight.js .code:after, figure.highlight.bash .code:after, figure.highlight.css .code:after, figure.highlight.scss .code:after, figure.highlight.diff .code:after, figure.highlight.java .code:after, figure.highlight.xml .code:after, figure.highlight.python .code:after, figure.highlight.json .code:after, figure.highlight.swift .code:after, figure.highlight.ruby .code:after, figure.highlight.perl .code:after, figure.highlight.php .code:after, figure.highlight.c .code:after, figure.highlight.cpp .code:after {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  color: #ccc !important;
  text-align: right !important;
  font-size: 0.75em !important;
  padding: 5px 10px 0 !important;
  line-height: 15px !important;
  height: 15px !important;
  font-weight: 600 !important; }

figure.highlight.html .code:after {
  content: "HTML"; }

figure.highlight.js .code:after {
  content: "JS"; }

figure.highlight.bash .code:after {
  content: "BASH"; }

figure.highlight.css .code:after {
  content: "CSS"; }

figure.highlight.scss .code:after {
  content: "SCSS"; }

figure.highlight.diff .code:after {
  content: "DIFF"; }

figure.highlight.java .code:after {
  content: "JAVA"; }

figure.highlight.xml .code:after {
  content: "XML"; }

figure.highlight.python .code:after {
  content: "PYTHON"; }

figure.highlight.json .code:after {
  content: "JSON"; }

figure.highlight.swift .code:after {
  content: "SWIFT"; }

figure.highlight.ruby .code:after {
  content: "RUBY"; }

figure.highlight.perl .code:after {
  content: "PERL"; }

figure.highlight.php .code:after {
  content: "PHP"; }

figure.highlight.c .code:after {
  content: "C"; }

figure.highlight.java .code:after {
  content: "JAVA"; }

figure.highlight.cpp .code:after {
  content: "CPP"; }

figure.highlight.cpp .code:after {
  content: "C++"; }

pre {
  color: #525252 !important; }

pre .function .keyword, pre .constant {
  color: #0092db !important; }

pre .keyword, pre .attribute {
  color: #e96900 !important; }

pre .number, pre .literal {
  color: #ae81ff !important; }

pre .tag, pre .tag .title, pre .change, pre .winutils, pre .flow, pre .lisp .title, pre .clojure .built_in, pre .nginx .title, pre .tex .special {
  color: #2973b7 !important; }

pre .symbol, pre .symbol .string, pre .value, pre .regexp {
  color: #42b983 !important; }

pre .title {
  color: #83B917 !important; }

pre .tag .value, pre .string, pre .subst, pre .haskell .type, pre .preprocessor, pre .ruby .class .parent, pre .built_in, pre .sql .aggregate, pre .django .template_tag, pre .django .variable, pre .smalltalk .class, pre .javadoc, pre .django .filter .argument, pre .smalltalk .localvars, pre .smalltalk .array, pre .attr_selector, pre .pseudo, pre .addition, pre .stream, pre .envvar, pre .apache .tag, pre .apache .cbracket, pre .tex .command, pre .prompt {
  color: #42b983 !important; }

pre .comment, pre .java .annotation, pre .python .decorator, pre .template_comment, pre .pi, pre .doctype, pre .shebang, pre .apache .sqbracket, pre .tex .formula {
  color: #b3b3b3 !important; }

pre .deletion {
  color: #BA4545 !important; }

pre .coffeescript .javascript, pre .javascript .xml, pre .tex .formula, pre .xml .javascript, pre .xml .vbscript, pre .xml .css, pre .xml .cdata {
  opacity: 0.5 !important; }

@media (max-width: 768px) {
  nav.main-nav {
    display: none !important; }

  .content-header {
    display: block !important;
    top: 60px !important;
    z-index: 10 !important;
    padding-top: 0px !important;
    background-color: rgba(255, 255, 255, 0.9) !important; }
    .content-header .ui.secondary.pointing.menu .item {
      padding-bottom: 14px !important; }

  .content-wrapper {
    padding: 100px 20px 10px  !important; }

  section.content-section {
    padding-left: 0 !important; }
    section.content-section .content-header {
      display: none; }
    section.content-section .mobile-top-menu {
      z-index: 20 !important;
      padding: 10px;
      display: block;
      padding-left: 20px;
      position: fixed;
      width: 100%;
      height: 60px;
      border-bottom: 1px solid #e0e0e0;
      background-color: #fff; }
      section.content-section .mobile-top-menu .menu-title {
        display: inline-block; }
        section.content-section .mobile-top-menu .menu-title .ion-menu-icon:before {
          font-family: "Ionicons";
          content: "\f394";
          font-size: 25px;
          vertical-align: middle;
          color: #909090;
          margin-right: 10px; }
        section.content-section .mobile-top-menu .menu-title .thumb {
          width: 40px;
          height: 40px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-image: url("https://avatars3.githubusercontent.com/u/3799158?v=3&s=460");
          border: 2px solid #e0e0e0;
          margin-right: 5px;
          background-position: center;
          background-size: cover; }
        section.content-section .mobile-top-menu .menu-title .content {
          display: inline-block;
          vertical-align: middle; }
          section.content-section .mobile-top-menu .menu-title .content .title {
            margin: 0;
            font-weight: normal;
            font-size: 18px; }
          section.content-section .mobile-top-menu .menu-title .content .summary {
            font-size: 10px;
            color: #909090;
            text-overflow: ellipsis;
            display: inline-block;
            vertical-align: middle;
            white-space: nowrap;
            overflow: hidden; } }
.mobile-top-menu {
  display: none; }

nav.main-nav {
  width: 35%;
  position: fixed;
  background-color: white;
  display: inline-block;
  height: 100vh;
  border-right: 1px solid #e0e0e0;
  font-family: "Helvetica Neue", sans-serif !important;
  padding: 20px;
  vertical-align: top;
  margin-right: -4px;
  background-image: url("../images/nav-bg.png");
  background-repeat: no-repeat; }
  nav.main-nav .main-nav-wrapper {
    width: 100%;
    height: calc(100% - 80px);
    display: table; }
    nav.main-nav .main-nav-wrapper .nav-footer {
      display: table-caption;
      vertical-align: bottom;
      text-align: center;
      caption-side: bottom; }
      nav.main-nav .main-nav-wrapper .nav-footer p {
        text-align: center;
        color: #909090;
        margin-bottom: 0; }
        nav.main-nav .main-nav-wrapper .nav-footer p .github:after {
          content: "\f233";
          font-family: "Ionicons";
          color: #909090; }
    nav.main-nav .main-nav-wrapper .profile-box {
      text-align: center;
      display: table-cell;
      vertical-align: middle; }
      nav.main-nav .main-nav-wrapper .profile-box .social {
        font-family: "Ionicons";
        letter-spacing: 5px; }
        nav.main-nav .main-nav-wrapper .profile-box .social .item {
          color: black !important; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item:after {
            font-family: "Ionicons"; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item.twitter:after {
            content: "\f243"; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item.facebook:after {
            content: "\f231"; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item.instagram:after {
            content: "\f350"; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item.github:after {
            content: ""; }
          nav.main-nav .main-nav-wrapper .profile-box .social .item.dribbble:after {
            content: ""; }
      nav.main-nav .main-nav-wrapper .profile-box .thumb {
        width: 130px;
        height: 130px;
        background-image: url("https://avatars3.githubusercontent.com/u/3799158?v=3&s=460");
        border-radius: 50%;
        margin: auto;
        margin-bottom: 10px;
        background-position: center;
        background-size: cover; }
      nav.main-nav .main-nav-wrapper .profile-box .comment {
        color: #909090; }
      nav.main-nav .main-nav-wrapper .profile-box h3.name {
        font-family: "Helvetica Neue", sans-serif !important;
        font-weight: normal;
        margin: 0; }
        nav.main-nav .main-nav-wrapper .profile-box h3.name .logo {
          vertical-align: middle;
          height: 20px;
          margin-right: 5px; }
        nav.main-nav .main-nav-wrapper .profile-box h3.name b {
          font-weight: bold; }
      nav.main-nav .main-nav-wrapper .profile-box .divider {
        width: 80px;
        height: 1px;
        background: #e0e0e0;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 5px; }

.main-nav-m {
  display: none;
  position: fixed;
  z-index: 11;
  width: 100%; }
  .main-nav-m.slide-in .shadow {
    transition: ease-in-out 0.4s;
    visibility: hidden; }
  .main-nav-m.slide-in .main-nav-wrapper {
    animation: slide-in-sidebar;
    animation-duration: 0.4s;
    visibility: hidden; }
  .main-nav-m.slide-out .main-nav-wrapper {
    animation: slide-out-sidebar;
    animation-duration: 0.4s;
    visibility: visible; }
  .main-nav-m.slide-out .shadow {
    transition: ease-in-out 0.4s;
    visibility: visible; }
  .main-nav-m .shadow {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    height: 100vh; }
  .main-nav-m .main-nav-wrapper {
    width: 80%;
    background-color: white;
    position: absolute;
    z-index: 21;
    height: 100vh; }
    .main-nav-m .main-nav-wrapper .nav-bg {
      position: absolute;
      background-image: url("../images/nav-bg.png");
      background-repeat: no-repeat;
      opacity: 0.03;
      height: 100vh;
      position: 1;
      width: 100%; }
    .main-nav-m .main-nav-wrapper .nav-content {
      position: absolute;
      position: 2;
      padding: 20px; }
      .main-nav-m .main-nav-wrapper .nav-content .ion-back-icon {
        font-size: 25px;
        color: black; }
        .main-nav-m .main-nav-wrapper .nav-content .ion-back-icon:before {
          font-family: "Ionicons";
          content: "\f2ca"; }
      .main-nav-m .main-nav-wrapper .nav-content .menu {
        list-style-type: none;
        padding-left: 0 !important;
        font-weight: bold;
        line-height: 50px;
        color: #4b4b4b;
        letter-spacing: 2px; }
        .main-nav-m .main-nav-wrapper .nav-content .menu .item > a {
          color: black;
          font-size: 12px; }

section.content-section {
  padding-left: 35%;
  display: inline-block;
  width: 100%; }
  section.content-section header.content-header {
    z-index: 20;
    position: fixed;
    width: 100%;
    background-color: #fafafa;
    padding-top: 10px; }
    section.content-section header.content-header.slide-in {
      visibility: hidden;
      animation: slide-in-header;
      animation-duration: 0.25s; }
    section.content-section header.content-header.slide-out {
      animation: slide-out-header;
      animation-duration: 0.25s;
      visibility: visible; }
    section.content-section header.content-header .pointing.menu {
      padding-left: 20px;
      border-bottom: 1px solid #e0e0e0; }
      section.content-section header.content-header .pointing.menu .item {
        font-family: "Helvetica Neue", sans-serif !important;
        text-transform: uppercase;
        font-size: 12px;
        padding-bottom: 20px !important; }
        section.content-section header.content-header .pointing.menu .item.back {
          font-weight: bold;
          padding-left: 0 !important;
          color: rgba(0, 0, 0, 0.2) !important;
          border-bottom: 2px solid #E91E63; }
          section.content-section header.content-header .pointing.menu .item.back i {
            color: #E91E63; }
        section.content-section header.content-header .pointing.menu .item:not(.active) {
          color: #757575;
          font-size: 12px; }

.content-wrapper {
  overflow-y: scroll;
  padding: 65px 20px 10px;
  height: 100%; }
  .content-wrapper .post-list {
    padding-left: 0;
    list-style-type: none; }
    .content-wrapper .post-list .post-box {
      margin-top: 10px;
      margin-bottom: 10px; }
      .content-wrapper .post-list .post-box .thumb {
        background-image: url("http://d2.naver.com/content/images/2017/01/campus-seminar-speaker.jpg");
        background-size: cover;
        background-position: center;
        width: 200px;
        height: 200px;
        border: 1px solid #e0e0e0;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 10px; }
      .content-wrapper .post-list .post-box .content {
        display: inline-block;
        vertical-align: middle;
        max-width: 600px; }
        .content-wrapper .post-list .post-box .content .blog-post-meta {
          color: #9E9E9E;
          font-family: "Helvetica Neue", sans-serif !important;
          font-size: 12px;
          font-weight: 100; }
          .content-wrapper .post-list .post-box .content .blog-post-meta .meta-item {
            margin-right: 10px; }
            .content-wrapper .post-list .post-box .content .blog-post-meta .meta-item.categories a {
              color: #9E9E9E; }
            .content-wrapper .post-list .post-box .content .blog-post-meta .meta-item.tags a {
              color: #9E9E9E; }
        .content-wrapper .post-list .post-box .content .title {
          font-family: "Helvetica Neue", sans-serif !important;
          font-size: 18px;
          font-weight: normal;
          color: #4b4b4b;
          text-transform: uppercase;
          letter-spacing: 3px;
          margin-bottom: 10px; }
        .content-wrapper .post-list .post-box .content .prev {
          color: #9E9E9E;
          letter-spacing: 1px; }

@media (max-width: 1445px) {
  .post-box .thumb {
    width: 100% !important; }

  .pagination {
    margin: auto; } }
.photo-list {
  margin-top: -5px !important; }
  .photo-list .card {
    box-shadow: none !important;
    border-radius: 4px !important;
    position: relative !important;
    height: 30vh; }
    .photo-list .card .thumb {
      position: absolute;
      width: 100%;
      height: 30vh;
      border-radius: 4px !important;
      background-size: cover;
      background-position: center;
      position: absolute;
      z-index: 2; }
    .photo-list .card .darker {
      width: 100%;
      height: 30vh;
      position: absolute;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 4px !important; }
    .photo-list .card .photo-content {
      width: 100%;
      height: 30vh;
      z-index: 4;
      position: absolute;
      display: table;
      border-radius: 4px !important; }
      .photo-list .card .photo-content .photo-content-wrapper {
        border-radius: 4px !important;
        display: table-cell;
        vertical-align: middle; }
        .photo-list .card .photo-content .photo-content-wrapper .title {
          text-align: center;
          text-transform: uppercase;
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 3px; }
          .photo-list .card .photo-content .photo-content-wrapper .title a {
            color: white;
            font-size: 16px;
            border: 4px solid #fff;
            padding: 5px 10px; }
        .photo-list .card .photo-content .photo-content-wrapper .summary {
          text-align: center;
          color: white;
          font-weight: 100;
          font-size: 12px; }

.about-section {
  padding-top: 10px; }
  .about-section .intro-images {
    margin-left: -20px;
    width: calc(100% + 40px);
    margin-top: -22px; }
    .about-section .intro-images .main-images .thumb {
      width: 100%;
      height: 40vh;
      background-image: url("http://i.imgur.com/vUEDrtE.jpg");
      background-size: cover;
      background-position: center; }
    .about-section .intro-images .queue-images .thumb {
      width: 300px;
      height: 200px;
      background-image: url(http://i.imgur.com/vUEDrtE.jpg);
      background-size: cover;
      background-position: center;
      border: 5px solid rgba(255, 255, 255, 0.5);
      outline: 1px solid #e0e0e0;
      border-left: 0; }
  .about-section > .title {
    font-family: "Helvetica Neue", sans-serif !important;
    font-size: 48px;
    font-weight: 200;
    margin-bottom: 0; }
  .about-section > .summary {
    font-size: 17px;
    color: #707070; }
  .about-section .edu-item {
    margin-bottom: 10px; }
    .about-section .edu-item > .icon:before {
      font-family: "Ionicons";
      content: "\f357";
      font-size: 36px;
      margin-right: 15px;
      vertical-align: middle; }
    .about-section .edu-item .content {
      display: inline-block;
      vertical-align: middle; }
      .about-section .edu-item .content > .title {
        font-size: 18px;
        display: inline-block;
        margin-bottom: 0; }
      .about-section .edu-item .content > .summary {
        display: inline-block;
        color: #767676; }

.blog-post {
  margin-top: 20px;
  margin-bottom: 20px; }
  .blog-post .post-cover {
    height: 50vh;
    margin-left: -40px;
    width: calc(100% + 60px);
    margin-top: -52px;
    margin-bottom: 40px;
    padding: 20px 0 20px 20px; }
    .blog-post .post-cover .post-cover-wrapper {
      position: relative; }
      .blog-post .post-cover .post-cover-wrapper .cover-darker {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 50vh;
        background-color: rgba(0, 0, 0, 0.5); }
      .blog-post .post-cover .post-cover-wrapper .cover-thumb {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 50vh;
        background-image: url(http://d2.naver.com/content/images/2017/01/campus-seminar-speaker.jpg);
        background-size: cover;
        background-position: center; }
      .blog-post .post-cover .post-cover-wrapper .cover-content {
        position: absolute;
        z-index: 3;
        padding: 20px;
        display: table;
        height: 50vh; }
        .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper {
          display: table-cell;
          vertical-align: bottom; }
          .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-title {
            margin-bottom: 0; }
            .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-title a {
              color: white;
              letter-spacing: 1rem;
              text-transform: uppercase;
              font-weight: 100;
              font-size: 25px;
              margin-bottom: 0; }
          .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-meta {
            color: white;
            font-family: "Helvetica Neue", sans-serif !important;
            font-size: 12px;
            font-weight: 100; }
            .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-meta .meta-item {
              margin-right: 10px; }
              .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-meta .meta-item.categories a {
                color: white; }
              .blog-post .post-cover .post-cover-wrapper .cover-content .cover-content-wrapper .blog-post-meta .meta-item.tags a {
                color: white; }
  .blog-post .blog-post-content {
    color: #616161;
    letter-spacing: 1px; }
    .blog-post .blog-post-content h1, .blog-post .blog-post-content h2, .blog-post .blog-post-content h3 {
      color: black;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 3px; }
    .blog-post .blog-post-content h2 {
      border-left: 2px solid #E91E63;
      padding-left: 10px; }
    .blog-post .blog-post-content h3 {
      font-weight: bold; }
    .blog-post .blog-post-content hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #e0e0e0;
      /* margin: 20px; */
      padding: 0;
      margin-top: 30px;
      margin-bottom: 30px; }
    .blog-post .blog-post-content img {
      width: 100%;
      border-radius: 4px;
      border: 1px solid #e0e0e0; }
    .blog-post .blog-post-content .figcaption_hack {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 10px;
      display: block; }
    .blog-post .blog-post-content a {
      color: #E91E63; }
      .blog-post .blog-post-content a:hover {
        color: #E91E63 !important;
        font-weight: bold;
        text-decoration: underline; }
    .blog-post .blog-post-content code {
      background: #fafafa;
      border: 1px solid #e0e0e0;
      border-radius: 2px;
      padding: 1px 5px; }
  .blog-post .blog-post-end-line {
    margin-top: 30px; }
  .blog-post #disqus_thread {
    margin-top: 30px;
    margin-bottom: 40px; }

/*# sourceMappingURL=master.css.map */
